/* Style tab links */

.tablink {
    background-color: #2d8fd5;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px;
    font-size: 20px;
    width: 25%;
}

.tablink:hover {
    background-color: #006fbe;
}


/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
    display: none;
    padding: 100px 20px;
    height: 100%;
}

body {
    background-color: #5aa7de;
}

#employeeLanding {
    margin-top: 3vh !important;
    background-color: #e2eff9;
    box-shadow: 8px 8px 5px #006fbe;
    width: 75vw;
    height: 92vh;
    margin: auto;
}

.btn {
    background-color: #004170;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.8;
}

.btn:hover {
    color: #fff;
    opacity: 1;
}